---
layout: main
title: Home
---
<div class = "columns is-vcentered is-multiline">
      <div class = "column is-one-third content">
        <figure class = "image">
          <img src = "/assets/images/icon.png">
        </figure>
      </div>
      <div class = "column is-two-thirds content" style="color: #224760">
        <p class = "title is-1" style = "color: #224760">{{ site.title }}</p>
        {% capture description %}{% include description.md %}{% endcapture %}
        {{ description | markdownify }}
        <br>
        <div class = "columns is-vcentered is-multiline is-full content">
          <div class = "column is-full content">
            <!-- <h1 style="text-align: center;">Join us today!</h1> -->
            {% include landing-page-gallery.html %}
          </div>
        </div>
      </div>

</div>
